In [1]:
a = 5
b = 5.5
c = "fklasdjlkf"
d = True

In [4]:
print(type(d))

<class 'bool'>

In [5]:
print(5+6)
print(6-8)
print(5*6)
print(8%9) # ---------------------> modulo operator -----> returns remainder

11
-2
30
8

In [7]:
print(type(5>8))

<class 'bool'>

In [8]:
print(8/6) --- > 
print(8//6) ---- >

1.3333333333333333
1

In [9]:
for i in range(5):
    print(i)

0
1
2
3
4

In [10]:
a = 4
b = 6
c = 9
if a>b and a>c:
    print("a is greatest")
elif b>a and b>c:
    print("b is greatest")
else:
    print("c is greatest")

c is greatest

In [12]:
i = 5
while(i<10):
    print(i)
    i+=1 # ----------------> ++ --, i = i+1

5
6
7
8
9

In [13]:
## functions

In [14]:
def myFunction():
    print('something')

In [15]:
myFunction()

something

In [17]:
# Data Structure:
#     1. list
#     2. tuple
#     3. dict
#     4. set

In [18]:
# list ---> list vs array
lis = []

In [19]:
lis = [4, 5.5, "aklsdjflkjasd", True]

In [22]:
print(lis[2])

aklsdjflkjasd

In [37]:
# list slicing
lis = [0,1,2,3,4,5,6,7,8,9,10]
# print(lis[3:9:2])
print(lis[-6:])

[5, 6, 7, 8, 9, 10]

In [29]:
lis = [[1,2,3], [4,5,6]]
print(lis[1][1])

5

In [38]:
## tuples
tup = (4, 5, 6, 7)
tup =()
print(tup[1])
# tup[1] = 8

5

In [35]:
# tuple slicing
tup[1:5]

(5, 6, 7)

In [39]:
## dictionary
s = {
    'apple' : 54,
    'orange' : 78,
    'abcd' : 89
}

In [42]:
s['apple'] = 45

In [43]:
print(s['apple'])

45

In [44]:
s['xyz'] = 98

In [49]:
for i in s.keys():
    print(f"value of {i} is {s[i]}")

value of apple is 45
value of orange is 78
value of abcd is 89
value of xyz is 98

In [50]:
for i in s.keys():
    print("value of {} is {}".format(i, s[i]))

value of apple is 45
value of orange is 78
value of abcd is 89
value of xyz is 98

In [51]:
s.values()

dict_values([45, 78, 89, 98])

In [53]:
# Set

In [56]:
s = {4, 5, 6, 4}

In [58]:
# empty set
s = set()

In [ ]:
# slicing

In [60]:
# list slice
# string slice
s="neeraj sharma"

'j'

In [67]:
print(s[-1:-5])

In [68]:
print(5+8)

13

In [69]:
print('hello' + 'neeraj')

helloneeraj

In [70]:
print([1,2,3] + [4,5,6])

[1, 2, 3, 4, 5, 6]

In [71]:
print((1,2,3) + (4,5,6))

(1, 2, 3, 4, 5, 6)

In [74]:
# split, range()
abc = input()
abc

5

'5'

In [75]:
print(type(abc))

<class 'str'>

In [80]:
# type casting
print(type(int(abc)))
abc = int(abc)

<class 'int'>

In [81]:
print(type(abc))

<class 'int'>

In [85]:
# split ---> strings
s = "abc,pqr,xyz,sdfd,asdf"

In [92]:
ans = s.split(',')

In [94]:
lin = input()

5 4 3

In [97]:
s=lin.split()

In [108]:
# a = s[0]
# b = s[1]
# c = s[2]
a, b, c = s

In [113]:
for i in range(2, 10, 2):
    print(i)

2
4
6
8

In [125]:
# list comphre
lis = [1, 5, 6, 8, 9, 12, 13]
new_list = [i**3 for i in lis if i%2!=0]
# for i in lis:
#     if(i%2 != 0):
#         new_list.append(i**2)
#     else:
#         pass

In [124]:
print(new_list)

[1, 25, 81, 169]

In [139]:
# def myfunction(n):
#     return n**3

In [140]:
lis = [1, 2, 5, 6]
t = map(lambda n:n**3, lis)

In [141]:
list(t)

[1, 8, 125, 216]

In [142]:
print(type(t))

<class 'map'>