In [ ]:
# Mount gdrive on colab notebook
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

**Handling Missing Data**

In [ ]:
# modules we'll use
import pandas as pd
import numpy as np

# read in all our data
nfl_data = pd.read_csv("/content/drive/MyDrive/datasets/NFL Play by Play 2009-2017 (v4).csv")

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (25,51) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
nfl_data.head()

         Date      GameID  Drive  qtr  ...       WPA    airWPA    yacWPA  Season
0  2009-09-10  2009091000      1    1  ...  0.060758       NaN       NaN    2009
1  2009-09-10  2009091000      1    1  ...  0.004655 -0.032244  0.036899    2009
2  2009-09-10  2009091000      1    1  ... -0.040295       NaN       NaN    2009
3  2009-09-10  2009091000      1    1  ... -0.049576  0.106663 -0.156239    2009
4  2009-09-10  2009091000      1    1  ...  0.097712       NaN       NaN    2009

[5 rows x 102 columns]

In [ ]:
# get the number of missing data points per column
missing_values_count = nfl_data.isnull().sum()

# look at the # of missing points in the first ten columns
missing_values_count[0:10]

Date                0
GameID              0
Drive               0
qtr                 0
down            61154
time              224
TimeUnder           0
TimeSecs          224
PlayTimeDiff      444
SideofField       528
dtype: int64

In [ ]:
# how many total missing values do we have?
total_cells = np.product(nfl_data.shape)
total_missing = missing_values_count.sum()

# percent of data that is missing
percent_missing = (total_missing/total_cells) * 100
print(percent_missing)

24.87214126835169

In [ ]:
# remove all the rows that contain a missing value
nfl_data.dropna()

Empty DataFrame
Columns: [Date, GameID, Drive, qtr, down, time, TimeUnder, TimeSecs, PlayTimeDiff, SideofField, yrdln, yrdline100, ydstogo, ydsnet, GoalToGo, FirstDown, posteam, DefensiveTeam, desc, PlayAttempted, Yards.Gained, sp, Touchdown, ExPointResult, TwoPointConv, DefTwoPoint, Safety, Onsidekick, PuntResult, PlayType, Passer, Passer_ID, PassAttempt, PassOutcome, PassLength, AirYards, YardsAfterCatch, QBHit, PassLocation, InterceptionThrown, Interceptor, Rusher, Rusher_ID, RushAttempt, RunLocation, RunGap, Receiver, Receiver_ID, Reception, ReturnResult, Returner, BlockingPlayer, Tackler1, Tackler2, FieldGoalResult, FieldGoalDistance, Fumble, RecFumbTeam, RecFumbPlayer, Sack, Challenge.Replay, ChalReplayResult, Accepted.Penalty, PenalizedTeam, PenaltyType, PenalizedPlayer, Penalty.Yards, PosTeamScore, DefTeamScore, ScoreDiff, AbsScoreDiff, HomeTeam, AwayTeam, Timeout_Indicator, Timeout_Team, posteam_timeouts_pre, HomeTimeouts_Remaining_Pre, AwayTimeouts_Remaining_Pre, HomeTimeouts_Remaining_Post, AwayTimeouts_Remaining_Post, No_Score_Prob, Opp_Field_Goal_Prob, Opp_Safety_Prob, Opp_Touchdown_Prob, Field_Goal_Prob, Safety_Prob, Touchdown_Prob, ExPoint_Prob, TwoPoint_Prob, ExpPts, EPA, airEPA, yacEPA, Home_WP_pre, Away_WP_pre, Home_WP_post, Away_WP_post, Win_Prob, WPA, airWPA, ...]
Index: []

[0 rows x 102 columns]

In [ ]:
# remove all columns with at least one missing value
columns_with_na_dropped = nfl_data.dropna(axis=1)
columns_with_na_dropped.head()

         Date      GameID  Drive  ...  ExPoint_Prob  TwoPoint_Prob  Season
0  2009-09-10  2009091000      1  ...           0.0            0.0    2009
1  2009-09-10  2009091000      1  ...           0.0            0.0    2009
2  2009-09-10  2009091000      1  ...           0.0            0.0    2009
3  2009-09-10  2009091000      1  ...           0.0            0.0    2009
4  2009-09-10  2009091000      1  ...           0.0            0.0    2009

[5 rows x 41 columns]

In [ ]:
# just how much data did we lose?
print("Columns in original dataset: %d \n" % nfl_data.shape[1])
print("Columns with na's dropped: %d" % columns_with_na_dropped.shape[1])

Columns in original dataset: 102

Columns with na's dropped: 41

In [ ]:
# get a small subset of the NFL dataset
subset_nfl_data = nfl_data.loc[:, 'EPA':'Season'].head()
subset_nfl_data

        EPA    airEPA    yacEPA  ...    airWPA    yacWPA  Season
0  2.014474       NaN       NaN  ...       NaN       NaN    2009
1  0.077907 -1.068169  1.146076  ... -0.032244  0.036899    2009
2 -1.402760       NaN       NaN  ...       NaN       NaN    2009
3 -1.712583  3.318841 -5.031425  ...  0.106663 -0.156239    2009
4  2.097796       NaN       NaN  ...       NaN       NaN    2009

[5 rows x 12 columns]

In [ ]:
# replace all NA's with 0
subset_nfl_data.fillna(0)

        EPA    airEPA    yacEPA  ...    airWPA    yacWPA  Season
0  2.014474  0.000000  0.000000  ...  0.000000  0.000000    2009
1  0.077907 -1.068169  1.146076  ... -0.032244  0.036899    2009
2 -1.402760  0.000000  0.000000  ...  0.000000  0.000000    2009
3 -1.712583  3.318841 -5.031425  ...  0.106663 -0.156239    2009
4  2.097796  0.000000  0.000000  ...  0.000000  0.000000    2009

[5 rows x 12 columns]

In [ ]:
# replace all NA's the value that comes directly after it in the same column, 
# then replace all the remaining na's with 0
subset_nfl_data.fillna(method='bfill', axis=0).fillna(0)

        EPA    airEPA    yacEPA  ...    airWPA    yacWPA  Season
0  2.014474 -1.068169  1.146076  ... -0.032244  0.036899    2009
1  0.077907 -1.068169  1.146076  ... -0.032244  0.036899    2009
2 -1.402760  3.318841 -5.031425  ...  0.106663 -0.156239    2009
3 -1.712583  3.318841 -5.031425  ...  0.106663 -0.156239    2009
4  2.097796  0.000000  0.000000  ...  0.000000  0.000000    2009

[5 rows x 12 columns]

In [ ]:
#fill mean
mean_airwpa= subset_nfl_data['airWPA'].mean()
print(mean_airwpa)
subset_nfl_data.airWPA.fillna(mean_airwpa)

0.03720928416656632

0    0.037209
1   -0.032244
2    0.037209
3    0.106663
4    0.037209
Name: airWPA, dtype: float64

**Parsing Date**

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import datetime

# read in our data
landslides = pd.read_csv("/content/drive/MyDrive/datasets/catalog.csv")

In [ ]:
landslides.head()

   id  ...                                        source_link
0  34  ...      http://www.nbc4.com/news/11186871/detail.html
1  42  ...  http://www.cantonrep.com/index.php?ID=345054&C...
2  56  ...  https://web.archive.org/web/20080423132842/htt...
3  59  ...  http://www.hebdos.net/lsc/edition162007/articl...
4  61  ...                                                NaN

[5 rows x 23 columns]

In [ ]:
print(landslides['date'].head())

0     3/2/07
1    3/22/07
2     4/6/07
3    4/14/07
4    4/15/07
Name: date, dtype: object

In [ ]:
landslides['date'].dtype

dtype('O')

In [ ]:
# create a new column, date_parsed, with the parsed dates
landslides['date_parsed'] = pd.to_datetime(landslides['date'], format="%m/%d/%y")

In [ ]:
# print the first few rows
landslides['date_parsed'].head()

0   2007-03-02
1   2007-03-22
2   2007-04-06
3   2007-04-14
4   2007-04-15
Name: date_parsed, dtype: datetime64[ns]

In [ ]:
# get the day of the month from the date_parsed column
day_of_month_landslides = landslides['date_parsed'].dt.day
day_of_month_landslides.head()

0     2.0
1    22.0
2     6.0
3    14.0
4    15.0
Name: date_parsed, dtype: float64

**Character Encodings**

---
Character encodings are specific sets of rules for mapping from raw binary byte strings (that look like this: 0110100001101001) to characters that make up human-readable text (like "hi").

In [ ]:
# modules we'll use
import pandas as pd
import numpy as np

# helpful character encoding module
import chardet

In [ ]:
# start with a string
before = "This is the euro symbol: €"

# check to see what datatype it is
type(before)

str

In [ ]:
# encode it to a different encoding, replacing characters that raise errors
after = before.encode("utf-8", errors="replace")

# check the type
type(after)

bytes

In [ ]:
after

b'This is the euro symbol: \xe2\x82\xac'

In [ ]:
# convert it back to utf-8
print(after.decode("utf-8"))

This is the euro symbol: €

In [ ]:
# try to decode our bytes with the ascii encoding
print(after.decode("ascii"))

UnicodeDecodeError: ignored

In [ ]:
# start with a string
before = "This is the euro symbol: €"

# encode it to a different encoding, replacing characters that raise errors
after = before.encode("ascii", errors = "replace")

# convert it back to utf-8
print(after.decode("ascii"))

# We've lost the original underlying byte string! It's been 
# replaced with the underlying byte string for the unknown character :(

This is the euro symbol: ?

In [ ]:
# try to read in a file not in UTF-8
kickstarter_2016 = pd.read_csv("/content/drive/MyDrive/datasets/ks-projects-201612.csv")

UnicodeDecodeError: ignored

In [ ]:
# look at the first ten thousand bytes to guess the character encoding
with open("/content/drive/MyDrive/datasets/ks-projects-201612.csv", 'rb') as rawdata:
    result = chardet.detect(rawdata.read(10000))

# check what the character encoding might be
print(result)

{'encoding': 'Windows-1252', 'confidence': 0.73, 'language': ''}

In [ ]:
# read in the file with the encoding detected by chardet
kickstarter_2016 = pd.read_csv("/content/drive/MyDrive/datasets/ks-projects-201612.csv", encoding='Windows-1252')

# look at the first few lines
kickstarter_2016.head()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (13,14,15) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

          ID   ... Unnamed: 16
0  1000002330  ...         NaN
1  1000004038  ...         NaN
2  1000007540  ...         NaN
3  1000011046  ...         NaN
4  1000014025  ...         NaN

[5 rows x 17 columns]

In [ ]:
# save our file (will be saved as UTF-8 by default!)
kickstarter_2016.to_csv("ks-projects-201801-utf8.csv")

**Inconsistent Data Entries**

In [ ]:
!pip install fuzzywuzzy

Collecting fuzzywuzzy
  Downloading https://files.pythonhosted.org/packages/43/ff/74f23998ad2f93b945c0309f825be92e04e0348e062026998b5eefef4c33/fuzzywuzzy-0.18.0-py2.py3-none-any.whl
Installing collected packages: fuzzywuzzy
Successfully installed fuzzywuzzy-0.18.0

In [ ]:
# modules we'll use
import pandas as pd
import numpy as np

# helpful modules
import fuzzywuzzy
from fuzzywuzzy import process
import chardet

# read in all our data
professors = pd.read_csv("/content/drive/MyDrive/datasets/pakistan_intellectual_capital.csv")

/usr/local/lib/python3.7/dist-packages/fuzzywuzzy/fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [ ]:
professors.head()

   Unnamed: 0  ...  Other Information
0           2  ...                NaN
1           4  ...                NaN
2           5  ...                NaN
3           6  ...                NaN
4          24  ...                NaN

[5 rows x 13 columns]

In [ ]:
# get all the unique values in the 'Country' column
countries = professors['Country'].unique()

# sort them alphabetically and then take a closer look
countries.sort()
countries
#inconsistent data entry: ' Germany', and 'germany', for example, or ' New Zealand' and 'New Zealand

array([' Germany', ' New Zealand', ' Sweden', ' USA', 'Australia',
       'Austria', 'Canada', 'China', 'Finland', 'France', 'Greece',
       'HongKong', 'Ireland', 'Italy', 'Japan', 'Macau', 'Malaysia',
       'Mauritius', 'Netherland', 'New Zealand', 'Norway', 'Pakistan',
       'Portugal', 'Russian Federation', 'Saudi Arabia', 'Scotland',
       'Singapore', 'South Korea', 'SouthKorea', 'Spain', 'Sweden',
       'Thailand', 'Turkey', 'UK', 'USA', 'USofA', 'Urbana', 'germany'],
      dtype=object)

In [ ]:
# convert to lower case
professors['Country'] = professors['Country'].str.lower()
# remove trailing white spaces
professors['Country'] = professors['Country'].str.strip()

In [ ]:
# get all the unique values in the 'Country' column
countries = professors['Country'].unique()

# sort them alphabetically and then take a closer look
countries.sort()
countries 
#south korea

array(['australia', 'austria', 'canada', 'china', 'finland', 'france',
       'germany', 'greece', 'hongkong', 'ireland', 'italy', 'japan',
       'macau', 'malaysia', 'mauritius', 'netherland', 'new zealand',
       'norway', 'pakistan', 'portugal', 'russian federation',
       'saudi arabia', 'scotland', 'singapore', 'south korea',
       'southkorea', 'spain', 'sweden', 'thailand', 'turkey', 'uk',
       'urbana', 'usa', 'usofa'], dtype=object)

In [ ]:
# get the top 10 closest matches to "south korea"
matches = fuzzywuzzy.process.extract("south korea", countries, limit=10, scorer=fuzzywuzzy.fuzz.token_sort_ratio)

# take a look at them
matches

[('south korea', 100),
 ('southkorea', 48),
 ('saudi arabia', 43),
 ('norway', 35),
 ('ireland', 33),
 ('portugal', 32),
 ('singapore', 30),
 ('netherland', 29),
 ('macau', 25),
 ('usofa', 25)]

In [ ]:
# function to replace rows in the provided column of the provided dataframe
# that match the provided string above the provided ratio with the provided string
def replace_matches_in_column(df, column, string_to_match, min_ratio = 47):
    # get a list of unique strings
    strings = df[column].unique()
    
    # get the top 10 closest matches to our input string
    matches = fuzzywuzzy.process.extract(string_to_match, strings, 
                                         limit=10, scorer=fuzzywuzzy.fuzz.token_sort_ratio)

    # only get matches with a ratio > 90
    close_matches = [matches[0] for matches in matches if matches[1] >= min_ratio]

    # get the rows of all the close matches in our dataframe
    rows_with_matches = df[column].isin(close_matches)

    # replace all rows with close matches with the input matches 
    df.loc[rows_with_matches, column] = string_to_match
    
    # let us know the function's done
    print("All done!")

In [ ]:
# use the function we just wrote to replace close matches to "south korea" with "south korea"
replace_matches_in_column(df=professors, column='Country', string_to_match="south korea")

All done!

In [ ]:
# get all the unique values in the 'Country' column
countries = professors['Country'].unique()

# sort them alphabetically and then take a closer look
countries.sort()
countries

array(['australia', 'austria', 'canada', 'china', 'finland', 'france',
       'germany', 'greece', 'hongkong', 'ireland', 'italy', 'japan',
       'macau', 'malaysia', 'mauritius', 'netherland', 'new zealand',
       'norway', 'pakistan', 'portugal', 'russian federation',
       'saudi arabia', 'scotland', 'singapore', 'south korea', 'spain',
       'sweden', 'thailand', 'turkey', 'uk', 'urbana', 'usa', 'usofa'],
      dtype=object)